@font-face {
    font-family: "Norse";
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
}
.container{
    display: flex;
}
.image-container{
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
  max-width: 100%;
  height: 100vh;
    width: 600px; 
    position: relative;
}
.odin{
    height: 80px;
    width: 60px;
}
.odin-image{
    font-family: "Norse";
    font-size: 48px;
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.556);
    position: absolute;
    top: 200px;
    width: 100%;
    justify-content: center;
    padding: 10px;
    color: white;
}

/*Sign up*/
.text{
     padding: 30px 50px;
}

form{
    margin-top: 70px;
    font-size: clamp(.5rem, 3vw, .9rem);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 700px;
    padding: 30px 50px;
}
p{
    margin-bottom: 15px;
    font-size: clamp(.5rem, 3vw, 1.2rem);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.3;
}
.form{
   display: flex; 
  margin-top: 20px;
  gap: 50px;
}
.form-row div{
  margin-bottom: 20px;  
  display: flex;
  flex-direction: column;
}
legend{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}
div input[type="text"],
div input[type="email"],
div input[type="tel"],
div input[type="password"]{
     background-color: #FFFFFF;
  border: 2px solid #E5E7EB;
  border-radius: 3px;
  width: 280px;
  padding: 6px;
  box-sizing: border-box;
  outline: none;
}
div input[type="text"]:focus,
div input[type="email"]:focus,
div input[type="tel"]:focus,
div input[type="password"]:focus{
    border: 2px solid #086b9d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
div input[type="text"]:active,
div input[type="email"]:active,
div input[type="tel"]:active,
div input[type="password"]:active{
  border: 2px solid #76AEED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        
}
div input[type="text"]:invalid,
div input[type="email"]:invalid,
div input[type="tel"]:invalid,
div input[type="password"]:invalid{
    border: 1px solid red;
}

button{
    background-color: #596D48;
    padding: 10px 30px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}
.login{
    display: flex;
    font-size: 10px;
    font-family: sans-serif;
     margin-top: 20px;
    margin-left: 40px;
}
.login-btn{
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

